[theme="dark"] {
  --headings-color: cyan;
  --text-color: white;
  --background-color: linear-gradient(-135deg, gray, black, black);
}

[theme="light"] {
  --headings-color: black;
  --text-color: black;
  --background-color: linear-gradient(-135deg, white, gray, gray);
}

button {
  display: block;
  margin: auto;
  color: gray;
  border-radius: 5px;
  box-shadow: inset 0 0 0 white;
}

img {
  display: block;
  width: 100%;
  border: inset 1px white;
  border-radius: 15px;
  padding-left: 1px;
}

a, h1, h3 {
  color: var(--headings-color);
  font-family: Helvetica;
}

h1, h3 {
  text-align: center;
}

a {
  text-decoration-line: none;
  font-weight: bold;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

p {
  font-family: Papyrus;
  padding: 10px 3px 10px 6px;
  border: inset 2px var(--text-color);
  border-radius: 4px;
}

.minitext {
  padding: 10px;
  text-align: center;
  font-size: 10px;
}

button:active {
  background-color: lightskyblue;
  border: inset deepskyblue;
}
button:active:after {
  background-color: auto;
  border: white;
}
