body {
 font-family : Papyrus;
 color:white;
 background-color:black;
}
h1 {
 font-family: Helvetica;
 color:cyan;
}
a {
 color:cyan;
}
p {
 padding: 2px;
 border: solid 2px white;
 border-radius: 4px;
}