button {
  display: block;
  margin: auto;
  color: gray;
  border-radius: 5px;
  box-shadow: inset 0 0 0 white;
}

img {
  width: 100%;
  border: inset 1px white;
  border-radius: 15px;
}

a, h1, h3 {
  color: cyan;
  font-family: Helvetica;
}

h1, h3 {
  text-align: center;
  color: cyan;
}

a {
  text-decoration-line: none;
  font-weight: bold;
}

body {
  color: white;
  background: linear-gradient(-135deg, gray, black, black);
}

p {
  font-family: Papyrus;
  padding: 10px 3px 10px 6px;
  border: inset 2px white;
  border-radius: 4px;
}

.minitext {
  padding: 10px;
  text-align: center;
  font-size: 10px;
}
